/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* .carousel-inner .item{
    display: block;
} */
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
.mycarousel img {
    width: 20%;
}
.imageslidewrapper img {
    display: block;
    float: left;
    width: 20%;
    padding: 5px;
    vertical-align: none !important;
}

.dropdown {
    float: left;
}

/*Generic*/
.wrapper{
    margin: 60px auto;
    text-align: center;
}
  
.pagination li a:hover{
    background-color: #337ab7;
}

.pagination .disabled a:first-child {
    background: #fff !important;
}

.pagination .disabled a{
    background-color: #337ab7 !important;
}
  
  
  